.site-menu {
  list-style-type: none;
  display: flex;
  font-family: $font-family--primary;
  margin: 0;
  padding: 0;

  a {
    font-weight: bold;
  }
}

.header-menu {
  font-size: 20px;
  justify-content: center;
  @media (min-width: 540px) {
    justify-content: flex-end;
  }

  li:not(:last-child) {
    margin-right: 1rem;
  }

  &__wrapper {
    flex-grow: 1;
    padding: 1rem 0;
  }
}


.footer-menu {
  justify-content: center;
  @media (min-width: 540px) {
    justify-content: flex-start;
  }

  li {
    line-height: 30px;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  a {
    border-bottom: 1px solid transparent;
    transition: border-color .15s ease-in-out;

    &:hover,
    &:focus {
      border-bottom: 1px solid $text-color--light;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;

    nav {
      flex-grow: 1;
    }
  }
}
