.piece {
  &__container {
    border: 2px solid $text-color--dark;
    padding: 1rem;
  }

  &__list {
    display: none;
    list-style-type: none;
    margin-bottom: 0;

    &.is-active {
      display: block;
    }
  }

  &__item {
    &:not(:last-child) {
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba($text-color--dark, .7);
      margin-bottom: 1rem;
    }
  }

  &__name {
    text-transform: uppercase;
    font-weight: bold;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-style: italic;
    font-weight: normal;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    color: inherit;

    @media (max-width: 579px) {
      flex-wrap: wrap;
    }
  }

  &__image {
    margin-right: 2rem;

    width: 100%;
    height: 250px;
    flex-shrink: 0;
    margin-bottom: 1rem;

    @media (min-width: 580px) {
      width: 195px;
      height: auto;
      min-height: 195px;
      flex-shrink: 0;
      margin-bottom: 0;
    }


    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__info {
    flex-grow: 1;
  }

  &__price {
    // text-transform: uppercase;
  }
}
