// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:               #84C3DF;
$brand-secondary:             #FF9F86;
$brand-tertiary:              #f3f1f1;
$text-color--dark:            #333333;
$text-color--light:           #dddddd;

// Font Stacks
$font-url--google : '//fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Vollkorn:400,700';
$font-family--primary : 'Quattrocento Sans', sans-serif;
$font-family--secondary : 'Vollkorn', serif;

// Import if Google Fonts URL is defined
@if variable-exists(font-url--google) {
  @import url($font-url--google);
}
