.section {
  padding: 4rem 1rem;

  &__title {
    margin-bottom: 3rem;
  }
}

.about {
  &__left {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    @media (max-width: 991px) {
      height: 400px;
    }
  }
}

.contact {
  padding-bottom: 7rem;
}

.contact-grid {
  display: flex;

  &__left {
    address {
      font-style: normal;
      display: inline-block;
    }
  }

  &__right {
    flex-grow: 1;
    padding-left: 2rem;
  }
}

.work,
.contact {
  background-color: $brand-tertiary;
}
