.section {
  padding: 4rem 1rem;

  &__title {
    margin-bottom: 3rem;
  }
}

.about {
  &__left {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    @media (max-width: 991px) {
      height: 400px;
    }
  }
}
